<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>🎶 Cancioncitas</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center">
                <h1 class="display-4 mb-4">Cancioncitas</h1>
                <p class="lead mb-4">Tu app de canciones molonas!!!</p> 

            </div>
        </div>
        <br>
       
        <a href="/songs" class="btn btn-primary btn-lg me-3">
            <i class="fa-brands fa-spotify fa-xl" style="color: #1ed760;"></i> Listado de canciones 
        </a>

        <a href="/artists" class="btn btn-success btn-lg">
            <i class="fa-solid fa-microphone-alt fa-xl fa-beat"></i> Listado de artistas 
        </a>
    </div>



    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
     
</body>
</html>